body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  color: $dark;
  background-color: $silver100;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 120px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  color: $darkblue;
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: -0.5px;
}

.filter-title {
  font-size: 24px;
  line-height: 1.1;
  color: $darkblue;
  padding: 15px;
  border-bottom: 1px solid $silver200;
}

.tabs-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $darkblue;
  margin-bottom: 30px;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  line-height: 0;
  transition: opacity 0.6s, outline 0.6s, border-radius 0.6s;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 2px solid $orange;
    border-radius: 5px;
  }

  &:active {
    opacity: 0.5;
  }

  &__img {
    object-fit: contain;
  }
}

.button {
  background-color: $orange;
  color: $white;
  border-radius: 6px;
  transition: background-color 0.6s, box-shadow 0.6s, color 0.6s;

  &:hover {
    background-color: $white;
    box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    color: $orange;
  }

  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
    outline: 2px solid $orange;
    color: $orange;
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.1);
    color: $orange;
  }
}

.text-link {
  font-size: 18px;
  transition: color 0.6s, outline 0.6s, text-shadow 0.6s, border-radius 0.6s;

  &:hover {
    color: $orange;
  }

  &:focus {
    outline: 2px solid $orange;
    border-radius: 5px;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.link-details {
  color: $darkblue;
  text-decoration: underline;
  transition: color 0.6s, box-shadow 0.6s, text-decoration 0.6s;

  &:hover {
    color: $orange;
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
    text-decoration: none;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
  }
}

.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transition: background-color 0.6s, outline 0.6s, box-shadow 0.6s;

  &:hover {
    background-color: $orange;

    &::after,
    &::before {
      background-color: #fff;
    }
  }

  &:focus {
    outline: 1px solid $orange;
  }

  &:active {
    box-shadow: 0 0 1px #41403f7a;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 30px;
    height: 2px;
    background-color: $dark;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}


.slick-navigation {

  .slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 0;
    width: 37px;
    height: 37px;
    border: 3px solid $gray;
    border-radius: 50%;
    z-index: 5;
    transition: border-color 0.5s, outline 0.5s, background-color 0.5s;

    &:hover {
      border-color: #FFAE94;

      .slick-navigation__icon {
        fill: #FFAE94;
      }
    }

    &:focus {
      outline: 2px solid $orange;
    }

    &:active {
      background-color: #FFF2ED;
      border-color: transparent;

      .slick-navigation__icon {
        fill: $orange;
      }
    }

  }

  &__icon {
    width: 10px;
    height: 18px;
    fill: $gray;
    transition: fill 0.5s;

    &--big {
      width: 19px;
      height: 32px;
      fill: $darkblue;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      &:not(:last-child) {
        margin-right: 15px;
      }

      button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $gray;
        transition: outline 0.5s, background-color 0.5s;

        &:hover {
          outline: 2px solid $orange;
          background-color: #FFF2ED;
        }

        &:focus {
          outline: 2px solid $orange;
        }

        &:active {
          background-color: #FFAE94;
        }
      }
    }

    .slick-active {
      button {
        background-color: $orange;
      }
    }
  }
}

.fon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.rateyo {
  z-index: 1;
}

@media (max-width: $lg) {
  .section {
    padding-bottom: 80px;
  }

}

@media (max-width: $lg) and (orientation: landscape) {
  .section {
    padding-bottom: 40px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

}

@media (max-width: $md) {
  .text-link {
    display: block;
  }
}

@media (max-width: $sm) {
  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .tabs-title {
    font-size: 20px;
  }

  .logo {
    &__img--small {
      width: 115px;
      height: 23px;
    }
  }

  .section {
    padding-bottom: 40px;
  }

}