html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button,
input,
textarea,
select,
figure,
figcaption,
cite,
blockquote {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

button {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}