@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header {

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 0px 60px 0;
  }

  &__logo {
    margin-right: auto;
  }

  &__list {
    display: flex;
    margin-right: 58px;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    line-height: 1.1;
  }

  &__btn {
    position: relative;
    display: flex;
  }

  &__items {
    position: relative;
  }

  &__form {
    display: flex;
    margin-right: 10px;
  }

  &__fild {
    display: none;
    margin-right: 10px;

    &.active {
      display: block;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    stroke: $darkblue;
    fill: transparent;
  }

  &__button {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    transition: background-color 0.6s, color 0.6s, outline 0.6s;

    &:hover {
      background-color: $orange;
    }

    &:hover .header__icon {
      stroke: $white;
    }



    &:hover .header__order {
      background-color: $silver100;
      color: $orange;
    }

    &:focus {
      outline: 2px solid $orange;
    }

    &:active {
      background-color: #FFF2ED;
    }
  }

  &__order {
    position: absolute;
    top: 18%;
    right: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.2;
    color: #fff;
    background-color: $orange;
    transition: background-color 0.6s, color 0.6s;
  }
}

.basket {
  position: absolute;
  top: 70px;
  right: 0;
  transform: translateX(150%);
  width: 40vw;
  padding: 60px 40px;
  background-color: $silver100;
  text-align: center;
  border: 1px solid $gray;
  transition: transform 0.6s;

  &__name {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transition: background-color 0.6s, outline 0.6s, box-shadow 0.6s;

    &:hover {
      background-color: $orange;
    }

    &:hover::after,
    &:hover::before {
      background-color: #fff;
    }

    &:focus {
      outline: 1px solid $orange;
    }

    &:active {
      box-shadow: 0px 0px 1px #41403f7a;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 5px;
      width: 30px;
      height: 2px;
      background-color: $dark;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__link {
    text-transform: uppercase;
    padding: 12px 32px;
  }

  &.active {
    transform: translateX(0%);
  }

}

.hero {
  &__inner {
    min-height: 780px;
    background-repeat: no-repeat;
    background-size: 560px 660px;
    background-position: top right;
  }

  &__content {
    padding-top: 156px;
    max-width: 450px;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    color: $darkblue;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__contrast {
    color: $orange;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:first-child {
    margin-right: 34px;
  }

  &__order {
    padding: 12px 32px;
    line-height: 1.3;
  }

}

.popular {
  &__list {
    display: flex;
    margin-bottom: 45px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    position: relative;
    color: $darkblue;
    line-height: 1.3;
    padding: 22px 32px 22px 86px;
    background-color: $white;
    outline: 1px solid $silver200;
    border-radius: 5px;

    &.mixitup-control-active {
      background-color: $orange;
      color: $white;
    }

    &.mixitup-control-active .popular__icon {
      fill: $white;
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      outline: 2px solid $orange;
      color: $orange;
    }

    &:hover .popular__icon {
      fill: $orange;
    }

    &:focus {
      outline: 2px solid $orange;
    }

    &:active {
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    object-fit: cover;
  }

  &__category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  &__button {
    margin: 0 auto;
  }

}

.burger {
  max-width: 210px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: $white;
  box-shadow: 0px 0px 0px 1px #ECECEC;
  border-radius: 5px;



  &:hover {
    outline: 1px solid $orange;
    transition: outline 0.6s;
  }

  & img {
    display: block;
    object-fit: cover;
    margin: 0 auto 10px;
  }

  &__name {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
    flex: 1;
  }

  &__price {
    display: block;
    font-weight: 500;
    color: $darkblue;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__btn {
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 16px;
  }

}



.footer {
  &__top {
    display: grid;
    grid-template-columns: 200px 153px 89px 187px 181px;
    grid-column-gap: 70px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__fild {
    margin-bottom: 12px;
  }

  &__subscribe {
    position: relative;
    font-size: 14px;
    line-height: 1.3;
    padding: 13px 47px 13px 70px;
    margin: 0;
    transition: fill 0.6s;

    &:hover .footer__icon {
      fill: $orange;
      transition: fill 0.6s;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 39px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: #fff;
  }

  &__list {
    margin-top: -5px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    letter-spacing: 0.01em;
    line-height: 1.3;
  }

  &__copy {
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }
}

.addres {
  &__list {
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    padding-left: 32px;
    font-size: 16px;
    line-height: 2;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__network {
    display: flex;
  }

  &__social:not(:last-child) {
    margin-right: 13px;
  }

  &__link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $silver200;
    transition: background-color 0.6s, outline 0.6s;

    &:hover {
      background-color: $orange;
    }

    &:hover .addres__icon {
      fill: $white;
      transition: fill 0.6s;
    }

    &:focus {
      outline: 2px solid $orange;
    }

    &:active .addres__icon {
      fill: $orange;
      transition: fill 0.6s;
    }

  }

  &__icon {
    &--facebook {
      width: 10px;
      height: 20px;
    }

    &--twitter {
      width: 20px;
      height: 17px;
    }

    &--instagram {
      width: 20px;
      height: 20px;
    }

  }
}