.app {

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 540px;
    padding-top: 8px;
  }

  &__title {
    text-align: left;
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
  }

  &__col {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    height: 40px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: outline 0.5s, box-shadow 0.5s, opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: 2px solid $orange;
    }

    &:active {
      box-shadow: 5px 5px 5px $dark;
    }


    &--store {
      width: 120px;
    }

    &--play {
      width: 135px;
    }
  }


}

@media (max-width: $xl-small) {
  .app {
    &__img {
      display: none;
    }

    &__inner {
      justify-content: center;
    }

    &__content {
      max-width: 70%;
      text-align: center;
    }

    &__title {
      text-align: center;
      margin-bottom: 30px;
    }

    &__row {
      justify-content: center;
    }
  }
}


@media (max-width: $sm) {
  .app {
    padding-bottom: 35px;

    &__inner {
      justify-content: flex-start;
    }

    &__content {
      max-width: 100%;
      text-align: left;
    }

    &__title {
      text-align: left;
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 15px;
      font-size: 14px;
    }

    &__row {
      justify-content: flex-start;
    }
  }
}