.app {

  &__inner {
    min-height: 41vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 49% contain;
    background-position: right 100%;

  }

  &__content {
    max-width: 540px;
  }

  &__title {
    text-align: left;
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    height: 40px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: outline 0.5s, box-shadow 0.5s, opacity 0.5s;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: 2px solid $orange;
    }
    &:active {
      box-shadow: 5px 5px 5px $dark;
    }


    &--store {
      width: 120px;
    }

    &--play {
      width: 135px;
    }
  }
}