.filter-category {
  @extend %filter-style;
  margin-bottom: 30px;

  &__body {
    padding: 25px 15px;
  }

  &__item {
    line-height: 0;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    display: block;
    line-height: 1.28;
  }

}

@media (max-width: $md) {
  .filter-category {
    &__body {
      padding: 20px 15px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    &__link {
      padding: 6px 0;
    }
  }
}