@import './form/form-subscribe';
@import './address';
@import './social';

.footer {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 75px;
    padding-bottom: 60px;
  }

  &__items {
    margin-right: 70px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__list {
    columns: 3 auto;
  }

  &__item {
    padding-right: 30px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

  }

  &__link {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 1.3;
  }

  &__copy {
    display: block;
    padding: 23px 0;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid $silver200;
  }
}




@media (max-width: $xl) {
  .footer {
    &__inner {
      flex-wrap: wrap;
      padding-right: 10px;
    }

    &__items {
      margin-right: 0;
    }

    &__list {
      columns: 2 auto;
    }

    &__item {
      padding: 0;
    }
  }
}

@media (max-width: $lg) {
  .footer {
    &__items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }

    &__nav {
      margin-right: 30px;
      flex-grow: 1;
    }

    &__link {
      display: block;
      padding: 10px 0;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $sm) {
  .footer {
    &__inner {
      padding: 0 0 33px 0;
    }

    &__items {
      display: block;
    }

    &__nav {
      order: 1;
      width: 100%;
      margin-right: 0;
    }

    &__list {
      columns: 1 auto;
    }

    &__address {
      width: 100%;
      margin-bottom: 20px;
    }

    &__copy {
      padding: 20px 0;
    }
  }
}