.popular {
  text-align: center;

  &__title {
    margin-bottom: 55px;
  }

  &__filter {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    overflow-x: auto;
    padding: 3px;
  }

  &__item {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkblue;
    line-height: 1.3;
    padding: 13px 32px 13px 33px;
    background-color: $white;
    outline: 1px solid $silver200;
    border-radius: 5px;
    transition: color 0.6s, background-color 0.6s, outline 0.6s;

    &.mixitup-control-active {
      background-color: $orange;
      color: $white;

      .popular__icon {
        fill: $white;
      }
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      outline: 2px solid $orange;
      color: $orange;

      .popular__icon {
        fill: $orange;
        transition: fill 0.6s;
      }
    }


    &:focus {
      outline: 2px solid $orange;
    }

    &:active {
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
    }
  }

  &__icon {
    object-fit: cover;
    margin-right: 8px;
  }

  &__category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  &__items {
    display: inline-flex;
  }
}

.product-card {
  max-width: 210px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: $white;
  outline: 1px solid $silver200;
  border-radius: 5px;
  margin: 0 auto;

  &:hover {
    outline: 1px solid $orange;
    transition: outline 0.4s;
  }

  &__link {
    width: 100%;
    margin-bottom: 10px;
  }

  &__img {
    object-fit: cover;
    margin: 0 auto;
  }

  &__name {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
    flex-grow: 1;
  }

  &__price {
    display: block;
    font-weight: 500;
    color: $darkblue;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__btn {
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 16px;
  }

}


@media (max-width: $xl) {
  .popular__category {
    grid-template-columns: repeat(4, auto);
    justify-content: center;
  }

  .product-card {
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .popular {
    &__category {
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media (max-width: $md) {
  .popular {
    &__category {
      grid-template-columns: repeat(2, auto);

    }

    &__filter {
      margin-bottom: 30px;
    }

    &__item:not(:last-child) {
      margin-right: 10px;
    }

    &__btn {
      font-size: 14px;
      padding: 12px 16px 12px 16px;
    }

    &__icon {
      width: 20px;
      height: 18px;
      margin-right: 5px;
    }

  }
}

@media (max-width: $sm) {
  .popular {
    &__title {
      margin-bottom: 27px;
    }

    &__filter {
      margin-bottom: 26px;
    }

    &__item:not(:last-child) {
      margin-right: 10px;
    }

    &__btn {
      font-size: 14px;
      padding: 12px 16px 12px 16px;
    }

    &__icon {
      width: 20px;
      height: 18px;
      margin-right: 5px;
    }

    &__category {
      grid-gap: 10px 5px;
      margin-bottom: 47px;
    }
  }
}