.popular {
  text-align: center;
  &__filter {
    display: flex;
    margin-bottom: 45px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    position: relative;
    color: $darkblue;
    line-height: 1.3;
    padding: 22px 32px 22px 86px;
    background-color: $white;
    outline: 1px solid $silver200;
    border-radius: 5px;
    transition:  color 0.6s, background-color 0.6s, outline 0.6s;
      
    &.mixitup-control-active {
      background-color: $orange;
      color: $white;
    }

    &.mixitup-control-active .popular__icon {
      fill: $white;
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      outline: 2px solid $orange;
      color: $orange;
      .popular__icon {
        fill: $orange;
        transition: fill 0.6s;
      }
    }


    &:focus {
      outline: 2px solid $orange;
    }

    &:active {
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    object-fit: cover;
  }

  &__category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  &__items {
    display: inline-flex;
  }
  

}

.product-card {
  max-width: 210px;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: $white;
  outline: 1px solid $silver200;
  border-radius: 5px;

  &:hover {
    outline: 1px solid $orange;
    transition: outline 0.4s;
  }

  &__link {
    display: block;
    width: 100%;
    text-align: center;
  }
  &__img {
    object-fit: cover;
  }

  &__name {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
    flex: 1;
  }

  &__price {
    display: block;
    font-weight: 500;
    color: $darkblue;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__btn {
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 16px;
  }

}