.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 13px;
  justify-content: start;


  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $silver200;
    transition: background-color 0.6s, outline 0.6s;

    &:hover {
      background-color: $orange;

      .social__icon {
        fill: $white;
        transition: fill 0.6s;
      }
    }


    &:focus {
      outline: 2px solid $orange;
    }

    &:active {

      .social__icon {
        fill: $orange;
        transition: fill 0.6s;
      }
    }

  }
}