<section class="popular section">
  <div class="container">
    <h2 class="title">
      Популярные категории 
    </h2>
    <ul class="popular__list">
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-a">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>   
          Бургеры
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-b">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>   
          Пицца
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-c">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#icon-whater"></use>
          </svg>   
          Сендвичи
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-d">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#icon-dinner"></use>
          </svg>   
          Азиатская кухня
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-e">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#icon-plate"></use>
          </svg>   
          Cеты
        </button>
      </li>
    </ul>

    <div class="popular__category">

        <article class="burger mix category-a">
            <img src="../../images/burger/cheeseburgerList.png" width="140" height="140" alt="Чизбургер с листьями салата">
              <h3 class="burger__name">
                Чизбургер с листьями салата
              </h3>
              <span class="burger__price">
                160 грн.
              </span>
                <a class="burger__btn general__style" href="#">
                  В корзину
                </a>
        </article>
        <article class="burger mix category-a">
            <img src="../../images/burger/beefburger.png" width="140" height="140" alt="Бифбургер">
            <h3 class="burger__name">
              Бифбургер
            </h3>
            <span class="burger__price">
              190 грн.
            </span>
            <a class="burger__btn general__style" href="#">
              В корзину
            </a>
        </article>
        <article class="burger mix category-a">
            <img src="../../images/burger/royalburger.png" width="140" height="140" alt="Королевский чизбургер">
            <h3 class="burger__name">
              Королевский чизбургер
            </h3>
            <span class="burger__price">260 грн.</span>
            <a class="burger__btn general__style" href="#">
              В корзину
            </a>
        </article>
        <article class="burger mix category-a">
            <img src="../../images/burger/blackburger.png" width="140" height="140" alt="Черный гамбургер">
            <h3 class="burger__name">
              Черный гамбургер
            </h3>
            <span class="burger__price">
              199 грн.
            </span>
            <a class="burger__btn general__style" href="#">
              В корзину
            </a>
        </article>
        <article class="burger mix category-a">
            <img src="../../images/burger/cheeseburger.png" width="140" height="140" alt="Чикен бургер">
            <h3 class="burger__name">
              Чикен бургер
            </h3>
            <span class="burger__price">
              180 грн.
            </span>
            <a class="burger__btn general__style" href="#">
              В корзину
            </a>
        </article>
        <article class="burger mix category-a">
          <img src="../../images/burger/cheeseburgerList.png" width="140" height="140" alt="Чизбургер с листьями салата">
            <h3 class="burger__name">
              Чизбургер с листьями салата
            </h3>
            <span class="burger__price">
              160 грн.
            </span>
              <a class="burger__btn general__style" href="#">
                В корзину
              </a>
      </article>
      <article class="burger mix category-a">
          <img src="../../images/burger/beefburger.png" width="140" height="140" alt="Бифбургер">
          <h3 class="burger__name">
            Бифбургер
          </h3>
          <span class="burger__price">
            190 грн.
          </span>
          <a class="burger__btn general__style" href="#">
            В корзину
          </a>
      </article>
      <article class="burger mix category-a"  data-order="2">
          <img src="../../images/burger/royalburger.png" width="140" height="140" alt="Королевский чизбургер">
          <h3 class="burger__name">
            Королевский чизбургер
          </h3>
          <span class="burger__price">260 грн.</span>
          <a class="burger__btn general__style" href="#">
            В корзину
          </a>
      </article>
      <article class="burger mix category-a">
          <img src="../../images/burger/blackburger.png" width="140" height="140" alt="Черный гамбургер">
          <h3 class="burger__name">
            Черный гамбургер
          </h3>
          <span class="burger__price">
            199 грн.
          </span>
          <a class="burger__btn general__style" href="#">
            В корзину
          </a>
      </article>
      <article class="burger mix category-a">
          <img src="../../images/burger/cheeseburger.png" width="140" height="140" alt="Чикен бургер">
          <h3 class="burger__name">
            Чикен бургер
          </h3>
          <span class="burger__price">
            180 грн.
          </span>
          <a class="burger__btn general__style" href="#">
            В корзину
          </a>
      </article>
    </div>
    <button class="popular__button details" type="button">
      Показать еще
    </button>
  </div>
</section>