<section class="app section">
  <div class="container">
    <div class="app__inner" style="background-image: url('./images/app-bg.jpg');">
      <div class="app__content">
        <h2 class="app__title title">
          Скачайте мобильное приложение
        </h2>
        <p class="app__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>
        <ul class="app__list">
          <li class="app__item">
            <a class="app__link app__link--store"
              style="background-image: url('../images/icons/svg/icon-appstore.svg');" href="#">
              <span class="sr-only">
                Скачайте мобильное приложение в App Store
              </span>
            </a>
          </li>
          <li class="app__item">
            <a class="app__link app__link--play"
              style=" background-image: url('../images/icons/svg/icon-googleplay.svg');" href="#">
              <span class="sr-only">
                Скачайте мобильное приложение в Google Play
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>