<section class="features section">
  <div class="container">
    <div class="features__inner" style="background-image: url('./images/food-delivery.png');">
      <div class="features__content">
        <h2 class="features__title title">
          <span class="features__part-title">
            Оставайтесь дома,
          </span>
          а мы позаботимся о еде
        </h2>
        <p class="features__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите скиидку!
        </p>
        <ul class="features__list">
          <li class="features__item" style="background-image: url('./images/icons/icon-bigtimer.svg');">
            Быстрая доставка за 15 минут
          </li>
          <li class="features__item" style="background-image: url('./images/icons/icon-delivery.svg');">
            Вежливые курьеры
          </li>
          <li class="features__item" style="background-image: url('./images/icons/icon-restaurant.svg');">
            Более 500 заведений
          </li>
        </ul>
        <a class="features__link button" href="#">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</section>