<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="header__nav">
                <a class="logo" href="#">
                    <img class="logo__img" src="./images/icons/svg/SimpleFood.svg" width="200px" height="39px"
                        alt="Логотип Simple Food">
                </a>
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link current text-link" href="#">
                            Главная
                        </a>
                    </li>
                    <li class="header__item">
                        <a class="header__link text-link" href="#">
                            Блюда
                        </a>
                    </li>
                    <li class="header__item">
                        <a class="header__link text-link" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="user-nav">
                <li class="user-nav__item">
                    <button class="user-nav__button button-search" type="button">
                        <span class="sr-only">Искать на сайте</span>
                        <svg class="user-nav__icon" width="18px" height="18px">
                            <use xlink:href="images/sprite.svg#icon-search"></use>
                        </svg>
                    </button>
                </li>
                <li class="user-nav__item">
                    <button class="user-nav__button button-basket" type="button">
                        <span class="sr-only">Корзина с товарами</span>
                        <svg class="user-nav__icon" width="18px" height="18px">
                            <use xlink:href="images/sprite.svg#icon-cart"></use>
                        </svg>
                        <span class="user-nav__order">4</span>
                    </button>
                </li>
            </ul>
            <form class="form-search">
                <label class="form-search__label">
                    <span class="sr-only">Искать на сайте</span>
                    <input class="form-search__field " type="search" placeholder="Искать..." required>
                </label>
                <button class="form-search__button button" type="submit">
                    ок
                </button>
            </form>

            <div class="basket">
                <span class="basket__name">
                    Ваша корзина пуста
                </span>
                <button class="close" type="button">
                    <span class="sr-only">
                        Закрыть корзину
                    </span>
                </button>
                <p class="basket__text">
                    Посмотрите наш каталог и выберите те товары, которые вас заинтересуют.
                </p>
                <a class="basket__link button" href="#">каталог</a>
            </div>
        </div>

    </div>
</header>