<section class="restaurant section">
  <div class="container">
    <h2 class="restaurant__title title">
      Лучшие рестораны
    </h2>

    <ul class="restaurant__catalog">

      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="./images/restaurant/Blaze-Pizza.jpg" width="370" height="300"
              alt="Рестораны Blaze Pizza">
          </a>
          <div class="restaurant-card__body">
            <h3 class="restaurant-card__title">
              Blaze Pizza
            </h3>
            <div class="restaurant-card__list">
              <span class="restaurant-card__time">
                <time class="restaurant-card__time-start">11:00</time> -
                <time class="restaurant-card__time-end">22:00</time>
              </span>
              <a class="restaurant-card__links button" href="#">
                <span class="sr-only">
                  Перейти на страницу ресторана Blaze Pizza
                </span>
                <svg class="restaurant-card__icon" width="14" height="12">
                  <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="./images/restaurant/Pizza-Runcho.jpg" width="370" height="300"
              alt="Рестораны Pizza Runcho">
          </a>
          <div class="restaurant-card__body">
            <h3 class="restaurant-card__title">
              Pizza Runcho
            </h3>
            <div class="restaurant-card__list">
              <span class="restaurant-card__time">
                <time class="restaurant-card__time-start">12:00</time> -
                <time class="restaurant-card__time-end">21:00</time>
              </span>
              <a class="restaurant-card__links button" href="#">
                <span class="sr-only">
                  Перейти на страницу ресторана Pizza Runcho
                </span>
                <svg class="restaurant-card__icon" width="14" height="12">
                  <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="./images/restaurant/Pizza-Hut.jpg" width="370" height="300"
              alt="Рестораны Pizza Hut">
          </a>
          <div class="restaurant-card__body">
            <h3 class="restaurant-card__title">
              Pizza Hut
            </h3>
            <div class="restaurant-card__list">
              <span class="restaurant-card__time">
                <time class="restaurant-card__time-start">11:00</time> -
                <time class="restaurant-card__time-end">22:00</time>
              </span>
              <a class="restaurant-card__links button" href="#">
                <span class="sr-only">
                  Перейти на страницу ресторана Pizza Hut
                </span>
                <svg class="restaurant-card__icon" width="14" height="12">
                  <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="./images/restaurant/McDonalds.jpg" width="370" height="300"
              alt="Рестораны McDonalds">
          </a>
          <div class="restaurant-card__body">
            <h3 class="restaurant-card__title">
              McDonald`s
            </h3>
            <div class="restaurant-card__list">
              <span class="restaurant-card__time">
                <time class="restaurant-card__time-start">06:00</time> -
                <time class="restaurant-card__time-end">23:00</time>
              </span>
              <a class="restaurant-card__links button" href="#">
                <span class="sr-only">
                  Перейти на страницу ресторана McDonald`s
                </span>
                <svg class="restaurant-card__icon" width="14" height="12">
                  <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="./images/restaurant/KFC.jpg" width="370" height="300"
              alt="Рестораны KFC">
          </a>
          <div class="restaurant-card__body">
            <h3 class="restaurant-card__title">
              KFC
            </h3>
            <div class="restaurant-card__list">
              <span class="restaurant-card__time">
                <time class="restaurant-card__time-start">06:00</time> -
                <time class="restaurant-card__time-end">23:30</time>
              </span>
              <a class="restaurant-card__links button" href="#">
                <span class="sr-only">
                  Перейти на страницу ресторана KFC
                </span>
                <svg class="restaurant-card__icon" width="14" height="12">
                  <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <a class="restaurant-card__link" href="#">
            <img class="restaurant-card__img" src="./images/restaurant/Star-Burgers.jpg" width="370" height="300"
              alt="Рестораны Star Burgers">
          </a>
          <div class="restaurant-card__body">
            <h3 class="restaurant-card__title">
              Star Burgers
            </h3>
            <div class="restaurant-card__list">
              <span class="restaurant-card__time">
                <time class="restaurant-card__time-start">09:00</time> -
                <time class="restaurant-card__time-end">21:00</time>
              </span>
              <a class="restaurant-card__links button" href="#">
                <span class="sr-only">
                  Перейти на страницу ресторана Star Burgers
                </span>
                <svg class="restaurant-card__icon" width="14" height="12">
                  <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>

    </ul>
  </div>
</section>